.disaster .panel .info {
    display: block;
    width: 100%;
}
.disaster .panel.calling, .disaster .panel.result {
    /*display: none;*/
}
.disaster .panel .brand {
    display: inline-block;
}
.disaster .panel .brand.ee {
    background: url('../img/ee.png') no-repeat;
    width: 41px;
    height: 72px;
}
.disaster .panel .brand.orange { background: url('../img/orange.png') no-repeat; }
.disaster .panel .brand.tmobile { background: url('../img/tmobile.png') no-repeat; }
.disaster .panel .brand.orange, .disaster .panel .brand.tmobile {
    width: 37px;
    height: 54px;
}
.disaster .panel .info label {
    font-family: 'Rubrik', Arial, sans-serif;
    color: #009c9c;
    display: inline-block;
    width: 70px;
    cursor: pointer;
}
.disaster .panel .info input {
    cursor: pointer;
}
.disaster .panel .info label .text {
    display: block;
}
.disaster .panel .controls .control {
    margin: 0 28px;
}
.disaster .panel p, .disaster .panel .info, .startover-container #startover {
    font-family: 'Rubrik', Arial, sans-serif;
}
.disaster .panel .small-print {
    font-family: 'Rubrik', Arial, sans-serif;
    font-size: 13px;
}
.start-over-button {
    margin-top: 1em;
    padding: 1em;
    border-radius: 0.25em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color: #009c9c;
    border: solid 1px #bbbcbf;
    cursor: pointer;
}
.start-over-button:hover {
    color: #ffffff;
    background-color: #009c9c;
    border: solid 1px #ffffff;
}
.startover-container #startover {
    margin: 0;
}
.cta-icon {
    font-size: 4em;
    color: #009c9c;
}
.business-icon {
    width: 26px;
}
.shop-location-icon {
    width: 42px;
}
.device-help-icon {
    width: 49px;
}
ul.social {
    list-style: none;
    padding: 0;
}
ul.social li {
    margin: 0;
    display: inline-block;
    font-size: 2.5em;
}
ul.social li a { color: #3c3d41; }
ul.social li .ee-icon-twitter:hover { color: #00a0d1; }
ul.social li .ee-icon-facebook:hover { color: #3b5998; }
ul.social li .ee-icon-youtube:hover { color: #c4302b; }
ul.social li .ee-icon-linkedin:hover { color: #4875b4; }